<h1 class="mb-3">All Flights</h1>

<%= turbo_frame_tag :flights do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Departing</th>
        <th>Arriving</th>
        <th>Booked at</th>
      </tr>
    </thead>

    <tbody id="flights_list">
      <%= render collection: @flights, partial: "flights/flight_row", as: :flight %>
    </tbody>
  </table>
<% end %>
